.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    
    
    h1{
        font-family: 'Open Sans', sans-serif;
        filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.5));

        margin: 20px 10px;
        color: #fff;
        font-size: 24px;
    }
 

    .img-pokemon {
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));

        position: absolute;
        width: 150px ;
        transition: all .7s ease-in-out;
    
       
    }

    :hover{
        .icon{
            transform: rotate(30deg) ;

        }
        .img-pokemon{
            width: 180px;
        }
        }
}

.content{
    display: flex ;
    justify-content: space-around;
    flex-direction: row;
    width: 340px;
    height: 180px;
  
}

.container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    width: 100%;
    margin: 0 10px;
}

.container-types{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: auto;
    width: 100%;
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        padding: 2px 5px;
        border-radius: 10px;
        gap: 5px;
        text-align: center;
        height: 20px;
        box-shadow: 3px 3px 5px rgba(0,0,0,);

        img{
            width: 20px;
            color: #b00101;
        }

        p{
            color: #fff;
            font-size: 16px;
            font-style: italic;
        }
    }
}

.container-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 52%;
    transition: all 1s ease-in-out;
    
    .icon{
        border-radius: 50%;
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
        position: absolute;
        width: 100%;
    transition: all 1s ease-in-out;
        
    }
}