.container-list{
    display: block;
    width: 100%;
    
}
.content-card{
    width: 100%;
    
    ul{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
}
// card{
//     position: relative;

//   display: flex;
//   height: 180px;
//   width: inherit;

//   border-radius: 6px;
//   background: red;
//   box-shadow: 1px 3px 12px 0 rgba(0, 0, 0, 0.3);

// }