.container-list {
  display: block;
  width: 100%;
}
.content-card {
  display: flex;
 
}
ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: auto;
  flex-wrap: wrap;
  
}

card{
  
  margin: 20px 10px;

}



