.container{
    display: flex;
    position: fixed;
    bottom: 3vh;
    right: 5vw;
    gap: 30px;
}

.btn{
    border: none;
    padding: 10px 15px;
    border-radius: 10%;
    background: rgba(0, 225, 255, 0.536);
    transition: all .8s;
    color: white;
    font-size: 24px;
    cursor: pointer;
    
    &:hover{
        background: rgba(67, 155, 255, 0.479);
        
    }
    :disabled{
        background-color: rgb(152, 152, 152);
    }
}

